@page "/products"
@inject HttpClient http
@inject HttpClient Http
@inject NavigationManager navigation
@using Data;
@using System.Text.Json;
@using System.Text.Json.Serialization;
@using static System.Net.WebRequestMethods;

<div class="content-container">
    <ListHeader Title="Lista De Trabajos"
                RoutePath="/products" />

    @if (products == null)
    {        
        <div class="spinner"></div>
    }
    else
    {

        <div class="colorlib-product">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
						<h2>Best Sellers</h2>
					</div>
				</div>
				<div class="row row-pb-md">
					
					  @foreach (var product in products)
                        {
                               <CardProductContent Name="@product.Name" Description="@product.Description" Url="@product.Url" Image="@product.Image" Price="@product.Price"></CardProductContent>

                        }


					
							


				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<p><a href="#" class="btn btn-primary btn-lg">Shop All Products</a></p>
					</div>
				</div>
			</div>
		</div>


    }


</div>

@code {

    private IEnumerable<Product> products = null;

    protected override async Task OnInitializedAsync()
    {
        products = await http.GetFromJsonAsync<IEnumerable<Product>>("api/products");
    }

}